<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="get">
        <label for="altura">Cuál es tu <b>altura</b>?</label>
        <input type="text" name="altura"><br>
        <label for="peso">Cuál es tu <b>peso</b>?</label>
        <input type="text" name="peso"><br>
        <button type="submit">Enviar</button>
    </form>

    <h2>Tu IMC es: {{imc}}</h2>

</body>
</html>